{% extends 'comics/base.html' %}
{% load comics_tags %}

{% block content %}
  <div class="row">
    <div class="col-lg-4">
      {# {{char_id.thum}}#}
      <img src="{{ char_id.thumbnail.path }}/portrait_fantastic.jpg">
    </div>
    <div class="col-lg-8">
      <div class="row">
        <h2>{{ char_id.name }}</h2>
        {% if char_id.description %}
          {{ char_id.description }}
        {% else %}
          No description available
        {% endif %}
        <br>

      </div>
    </div>
  </div>
  <div class="row">
    <h3>Stories</h3>
    {% if char_stories %}
      <ul class="list-group">
        {% for story in char_stories %}
          <a class="list-group-item" href="{% url 'comics:story' story_id=story.id %}">
            <img src="{{ story.thumbnail.path }}/portrait_small.jpg">
            {{story.title}}
          </a>
        {% endfor %}
      </ul>
    {% else %}
      No stories available
    {% endif %}
  </div>
  {{ attr }}
{% endblock %}
