{% load static %}
{% load widget_tweaks %}

<link rel="stylesheet" type="text/css" href="{% static 'comics/bootstrap.min.css' %}" />

<div class="col-lg-offset-3 col-lg-6">
  <h1>Marvel Comics Characters</h1>
  <form action="{% url 'comics:search' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      {{form.char_name|add_class:"form-control"}}
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-default" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
  <!--
  {# <form action="{% url 'comics:search' char_name %}" method="get">#}
    {% csrf_token %}
    <div class="input-group">
      <input name="char_name" id="char_name" type="text" class="form-control" aria-label="..." placeholder="Character">
      <div class="input-group-btn">
        <div class="btn-group">
          <button class="btn btn-default" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
  -->
</div><!-- /.col-lg-6 -->
