{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'comics/bootstrap.min.css' %}" />
<div class="col-lg-offset-3 col-lg-6">
  {% if list_char.data.count %}
    <ul class="list-group">
      {% for char in list_char.data.results %}
        <a class="list-group-item" href="{% url 'comics:character' char_id=char.id %}">
          <img src="{{ char.thumbnail.path }}/portrait_small.jpg">
          {{ char.name }}
        </a>
      {% endfor %}
    </ul>
    {{ list_char.attributionText }}
  {% else %}
    <li>Sorry, no characters found.</li>
  {% endif %}
</div>
