{% extends 'comics/base.html' %}

{% block content %}
<div>
  {% if list_char.count %}
    <ul class="list-group">
      {% for char in list_char.results %}
        <a class="list-group-item" href="{% url 'comics:character' char_id=char.id %}">
          <img src="{{ char.thumbnail.path }}/portrait_small.jpg">
          {{ char.name }}
        </a>
      {% endfor %}
    </ul>
    {{ list_char.attributionText }}
  {% else %}
    <li>Sorry, no characters found.</li>
  {% endif %}
</div>
{% endblock %}
