{% extends 'comics/base.html' %}

{% block content %}
<div>
  {% if list_char.count %}
    <ul class="list-group">
      {% for char in list_char.results %}
        <a class="list-group-item" href="{% url 'comics:character' char_id=char.id %}">
          <img src="{{ char.thumbnail.path }}/portrait_small.jpg">
          {{ char.name }}
        </a>
      {% endfor %}
    </ul>
    {{ list_char.attributionText }}
  {% else %}
    {% if list_char %}
      <h3>Sorry, no characters found.</h3>
    {% else %}
      <h3>Sorry, something went wrong. A list of characters were not retreived</h3>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
