{% load static %}
{% load widget_tweaks %}
{% load comics_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'comics/bootstrap.min.css' %}" />
<div class="col-lg-offset-3 col-lg-6">
  <div class="col-lg-4">
    <img src="{{ story.thumbnail.path }}/portrait_fantastic.jpg">
  </div>
  <div class="col-lg-8">
    <div class="row">
      <h2>{{ story.title }}</h2>
      {% if story.description %}
        {{ story.description }}
      {% else %}
        No description available
      {% endif %}
    </div>
  </div>
  <div class="row">
    <h3>Characters</h3>
    <ul class="list-group">
      {# {{char.stories}}#}
      {% for char in story_char %}
        <a class="list-group-item"
          href="{% url 'comics:character' char_id=char.id %}">
          <img src="{{ char.thumbnail.path }}/portrait_small.jpg">
          {{char.name}}
        </a>
      {% endfor %}
    </ul>
  </div>
  {{ attr }}
<div>
